{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "react-app",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["react", "import", "@typescript-eslint", "react-hooks"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "jest": true,
    "browser": true
  },
  "rules": {
    "import/prefer-default-export": ["off"],
    "@typescript-eslint/no-empty-interface": ["off"],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "react/destructuring-assignment": ["off"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ignorePackages": true,
        "pattern": {
          "ts": "never",
          "tsx": "never",
          "jsx": "never",
          "js": "never"
        }
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }]
  },
  "settings": {
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"]
  },
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ]
}
